* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: RobotoLight;
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), 
      url("../fonts/Roboto-Light.woff") format("woff"),
      url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RobotoRegular;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url("../fonts/Roboto-Regular.woff") format("woff"),
      url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  color: rgba(63, 63, 63, 0.6);
  font-family: RobotoLight;
  font-weight: 300;
  padding: 125px 0 134px;
}

.title {
  font-family: RobotoRegular;
  font-size: 26px;
  font-weight: 400;
  color: #3f3f3f;
  padding-bottom: 95px;
}

.filter:after {
  content: '';
  display: table;
  clear: both;
}

.filter-period {
  float: left;
}

.filter-period input {
  display: inline-block;
  width: 142px;
}

.filter-period__delimeter {
  color: #cecece;
  padding: 0 4px;
}

.filter-wrapper {
  float: left;
  width: 307px;
  position: relative;
  padding-left: 20px;
}

.filter [class^="button"] {
  margin-top: 29px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 26px;
  margin-top: -4px;
  border: 5px solid transparent;
  border-top: 7px solid rgba(63, 63, 63, 0.6);
}

.select .value {
  color: #3f3f3f;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
}

.select__list-wrapper {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 30px 12px 0 0;
  max-height: 307px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 4px;
  cursor: default;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease 0s, z-index 0.5s step-end 0s;
}

.select__list-wrapper.active {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease 0s, z-index 0.5s step-start 0s;
}

.select__list-wrapper:before  {
  content: '';
  position: absolute;
  right: 30px;
  top: -4px;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: rotate(23deg) skewX(-45deg);
  background-color: #ffffff;
  box-shadow: -5px -5px 12px -2px rgba(0, 0, 0, 0.1);
}

.select__list {
  max-height: 228px;  
  overflow-y: scroll;
  cursor: pointer;
  color: #4a4a4a;
}

.select__list::-webkit-scrollbar {
  width: 3px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #d8d8d8;
}

.select__list-item {
  padding: 17px 30px;
}

.select__list-item:hover {
  background-color: #fbf9f9;
}

.hidden {
  display: none;
}

.label {
  font-family: RobotoLight;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: rgba(63, 63, 63, 0.6);
  padding-bottom: 11px;
}

input, button {
  outline: none;
}

input[type="text"],
.select {
  height: 50px;
  padding: 15px 20px;
  border: 1px solid #cecece;
  border-radius: 2px;
  color: #3f3f3f;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: RobotoLight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(63, 63, 63, 0.6);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: RobotoLight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(63, 63, 63, 0.6);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: RobotoLight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(63, 63, 63, 0.6);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: RobotoLight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(63, 63, 63, 0.6);
}

[class^="button"] {
  padding: 14px 25px;
  border-radius: 4px;
  border: solid 1px rgba(135, 162, 228, 0.25);
  line-height: 1.69;
  text-align: center;
  color: #87a2e4;
  font-family: RobotoRegular;
  font-weight: 400;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  float: left;
  font-size: 13px;
  height: 50px;
}

[class^="button"]:hover {
  border: 1px dashed #87a2e4;
}

.button__primary {
  background-color: #87a2e4;
  color: #ffffff;
}

.files {
  margin-top: 95px;
}

.files__item {
  position: relative;
  padding: 50px 30px;
  border-top: 1px solid #e9e9e9;
}

.files__item:last-child {
  border-bottom: 1px solid #e9e9e9;
}

.files__item:after {
  content: '';
  display: table;
  clear: both;
}

.files__type,
.files__info,
.files__icons {
  float: left;
}

.files__info {
  width: 640px;
  margin: 0 30px;
}

.files__icons {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -21px;
  width: 100px;
}

.files__type {
  width: 100px;
  font-family: RobotoRegular;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.88;
  color: #d51d4c;
}

.files__date-download,
.files__time-storage,
.files__full-name {
  font-size: 13px;
  line-height: 1.54;
}

.files__date-download {
  padding-right: 40px;
}

.files__name {
  font-family: RobotoRegular;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #3f3f3f;
  padding: 10px 0 20px;
}

.files__size {
  font-size: 13px;
  line-height: 2.31;
  color: #87a2e4;
  padding-left: 20px;
}

.icon__download,
.icon__delete {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon__download {
  width: 30px;
  height: 30px;
  margin-right: 32px;
  background: url(../icons/donload.svg) no-repeat 0 0;
}

.icon__delete {
  background: url(../icons/delete.svg) no-repeat 0 0;
}

@media all and (max-width: 320px) {
  body {
    padding: 60px 14px 64px;
  }
  .title {
    font-size: 22px;
  }
  .filter > * {
    float: none;
  }
  .filter-period {
    margin-bottom: 25px;
  }
  .filter-period input {
    width: 137px;
  }
  .filter-period__delimeter {
    padding: 0;
    margin-right: -1px;
  }
  .filter-wrapper {
    padding: 0;
    width: auto;
  }
  [class^="button"] {
    margin-left: 0;
    width: 138px;
  }
  .button__primary {
    margin-left: 11px;
  }
  .files {
    margin-top: 35px;
  }
  .files__item > * {
    float: none;
    width: auto;
    padding: 0;
  }
  .files__item {
    padding: 50px 0;
  }
  .files__icons {
    top: 50px;
    margin-top: 0;
  }
  .files__info {
    margin: 0;
  }
  .files__info > span {
    display: block;
  }
  .files__date-download {
    margin: 12px 0 6px;
  }
  .files__name {
    padding-bottom: 15px;
  }


}